body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  #main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    transition: background-color 0.3s, top 0.3s; /* Add 'top' transition */
    z-index: 1000;
  }
  
  #main-header.navbar-transparent {
    background-color: rgb(255, 255, 255);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #007BFF;
  }
  
  nav a.active {
    color: #007BFF;
  }
  
  /* Move the menu to the right */
  nav {
    margin-left: auto;
  }
  
  /* Parallax effect on banner */
  #banner {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  
  /* Parallax effect on banner */
#banner {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  z-index: 2;
}

#banner img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 3;
}

#banner h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#banner p {
  font-size: 18px;
}

  
  /* Parallax effect */
  #banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, rgba(70, 42, 42, 0) 0%, rgb(2, 66, 240) 100%);
    z-index: 1;
  }
  
  #banner::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('path-to-your-image.jpg'); /* Ganti dengan path gambar Anda */
    background-size: cover;
    background-position: center;
    z-index: 0;
    transform: translateZ(-1px) scale(1.5);
    background-attachment: fixed; /* Parallax effect */
  }
  
/* Styles for the post list */
/* Styles for the post list */
#post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.post-card {
  width: 300px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.post-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.post-details {
  padding: 10px;
}

.post-details h2 {
  font-size: 16px;
  margin: 5px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

/* Pagination styles */
#pagination {
  margin-top: 20px;
}

.pagination-link {
  margin-right: 10px;
  cursor: pointer;
  color: #007BFF;
}

.pagination-link.active {
  font-weight: bold;
}
